//COLORS//
$bg: #205464;
$nav: #1a7a7a;
$btn_filter: #d7efee;
$txt_filter: #205464;
$danger: #e79950;
$coolitude: #da5b00;

//FONTSIZE//
$fs-h1: calc(0.5em + 5vw);
$fs-h2: calc(0.5em + 1.5vw);
$fs-h3: calc(0.5em + 1vw);
$fs-p: calc(0.5em + 0.5vw);
$fs-nav: calc(0.5em + 0.8vw);
