@import "_variables.scss";
@import "_mixins.scss";
@import "_general.scss";

*,
input,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Roboto", sans-serif;
  color: white;
}

body {
  background-image: url("surfaerien2.png");
  background-color: #205464;
  background-size: cover;
  background-repeat: no-repeat;
}
