//VARIABLES//

$primary-light: #ceeae8;
$secondary-light: #fcf2e0;
$primary-dark: #126a6c;
$secondary-dark: #136467;
$thirdary-dark: #108888;
$bg-dark: #19222b;
$coolitude: #da5b00;
$fs-h1: calc(0.5em + 5vw);
$fs-h2: calc(0.5em + 1.5vw);
$fs-h3: calc(0.5em + 1vw);
$fs-p: calc(0.5em + 0.5vw);

//MIXINS//
@mixin flexDesktop {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexMobile {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin arrow {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid #19222b;
  border-left: 10px solid #19222b;
  border-right: 10px solid #19222b;
}
