@import "react-responsive-carousel/lib/styles/carousel.min.css";
@import "src/styles/_variables.scss";
@import "src/styles/_mixins.scss";

.carousel .control-dots .dot.selected {
  background: $btn_filter;
}
.carousel .control-dots .dot:hover {
  background: $danger;
}

.msg {
  width: 90%;
  margin: auto;
  margin-bottom: 5vh;
  background: linear-gradient(to top right, #205464, #108888);
  box-shadow:
    0 45px 100px rgba(14, 21, 47, 0.4),
    0 16px 40px rgba(14, 21, 47, 0.4);
  p {
    padding: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: $fs-p;
  }
}
