@import "src/styles/_variables.scss";
@import "src/styles/_mixins.scss";

nav {
  display: flex;
  justify-content: space-between;
  background-color: $nav;
  padding: 1.5vh;
  width: 100%;
  top: 42px;
  z-index: 1;

  .navTitle {
    display: flex;
    align-items: center;
    font-size: $fs-nav;
    margin-left: 2vw;
  }

  .links {
    display: flex;
    list-style-type: none;
    gap: 1rem;

    li {
      margin-right: 2vw;

      a {
        text-decoration: none;
        line-height: 40px;
        text-align: center;
        color: white;
        font-size: $fs-nav;

        &:after {
          content: "";
          display: block;
          margin: auto;
          height: 2px;
          width: 0;
          transition:
            width 0.5s ease,
            background-color 0.5s ease;
        }

        &:hover:after {
          width: 100%;
          background: white;
        }
      }
    }
  }
}

#icons {
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 768px) {
  nav {
    padding: 0;
  }
  #icons {
    cursor: pointer;
    display: block;
    z-index: 3;
    margin: 0;
    padding: 0;
    background-color: $nav;
  }

  #icons:before {
    content: "";
  }

  .menu-open #icons:before {
    content: "";
  }

  .icon {
    font-size: 30px;
    padding-right: 15px;
  }

  nav ul {
    position: fixed;
    left: -100%;
    top: 5%;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.25s;
    background-color: $nav;
    margin: 0;
    z-index: 2;
  }
  nav .links li {
    margin: 0;
  }
  nav .links li a {
    &:after {
      content: "";
    }
    &:hover:after {
      background-color: transparent;
    }
  }
  .menu-open ul {
    left: 0;
  }
}
