@import "./src/styles/variables.scss";

.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #108888;
  opacity: 80%;
  padding: 20px;
  width: 100%;
  position: absolute;
  top: 42px;
  z-index: 1;
}

.links {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

.links li {
  margin-left: 20px;
}

.links li a {
  text-decoration: none;
  line-height: 20px;
  text-align: center;
  color: white;
}

.links li a:after {
  content: "";
  display: block;
  margin: auto;
  height: 1.5px;
  width: 0;
  background: transparent;
  transition:
    width 0.5s ease,
    background-color 0.5s ease;
}

.links li a:hover:after {
  width: 100%;
  background: white;
}

.bandeau {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

.mask {
  -webkit-mask-image: url("./src/assets/vague-mask.png");
  mask-image: url("./src/assets/vague-mask.png");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}
