@import "src/styles/_variables.scss";
@import "src/styles/_mixins.scss";

.filtersContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 5vh;

  a {
    padding: 5px 10px;
  }
}

.calendar,
.localisation,
.levels {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  list-style: none;
  color: $btn_filter;
  background-color: $bg;
  border-style: none;

  img {
    cursor: pointer;
    width: calc(50px + 2vw);
    height: auto;
    background-color: transparent;
  }

  ul li {
    line-height: 40px;
    text-align: center;
    display: none;
    text-decoration: none;
    text-align: left;
    background-color: $nav;
  }

  ul.visible {
    display: block;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
  }

  ul.visible li {
    display: block;
  }
}

.levelTitle,
.infolevel {
  background-color: $bg;
  border-style: none;
}

.infolevel {
  border: 2px solid $coolitude;
  border-radius: 50%;
  padding: 5px 12px;
  color: $coolitude;
  font-weight: bold;
}

.levelButtonContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.calendarButton,
.levelButton,
.localisationButton {
  background: $btn_filter;
  border: none;
  cursor: pointer;
  display: block;
  margin-top: 1vh;
  text-align: center;
  padding: 0.5vh 2vw;
  color: $txt_filter;
  font-size: $fs-p;
  font-weight: bold;
  box-shadow:
    0 45px 100px rgba(14, 21, 47, 0.4),
    0 16px 40px rgba(14, 21, 47, 0.4);
  position: relative;
  border-radius: 3px;
  outline: none;

  select {
    font-size: 0.5rem;
  }
}

#lev {
  width: calc(80px + 2vw);
  height: auto;
}

#loc {
  width: calc(70px + 2vw);
  height: auto;
}

option {
  color: $nav;
  font-size: 0.7rem;
}

.infoLevel {
  text-align: left;
}

//MEDIA QUERY//
