@import "src/styles/_variables.scss";
@import "src/styles/_mixins.scss";

.filtersContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 5vh;
  width: 100%;
  background: transparent;

  a {
    padding: 5px 10px;
  }
}

.calendar,
.localisation,
.levels {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  list-style: none;
  color: $btn_filter;
  background-color: transparent;
  border-style: none;

  img {
    width: calc(50px + 2vw);
    height: auto;
    background-color: transparent;
  }

  ul li {
    line-height: 40px;
    text-align: center;
    display: none;
    text-decoration: none;
    text-align: left;
    background-color: $nav;
  }

  ul.visible {
    display: block;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
  }

  ul.visible li {
    display: block;
  }
}

.levelTitle,
.infolevel {
  background-color: transparent;
  border-style: none;
}

.levelButtonContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  cursor: pointer;
}

.calendarButton,
.levelButton,
.localisationButton {
  background: $btn_filter;
  border: none;
  cursor: pointer;
  display: block;
  text-align: center;
  padding: 0.5vh 1vw;
  color: $txt_filter;
  font-size: $nav;
  font-weight: bold;
  box-shadow:
    0 45px 100px rgba(14, 21, 47, 0.4),
    0 16px 40px rgba(14, 21, 47, 0.4);
  position: relative;
  border-radius: 3px;
  outline: none;

  select {
    font-size: $nav;
  }
}

#lev {
  width: calc(90px + 2vw);
  height: auto;
  cursor: pointer;
}

#loc {
  width: calc(90px + 2vw);
  height: auto;
}
#cal {
  width: calc(90px + 2vw);
  height: auto;
}

.filtersContainer option {
  color: $nav;
  font-size: $fs-p;
  background-color: $btn_filter;
}

.infoLevel {
  text-align: left;
}

strong {
  color: $coolitude;
}

@media screen and (max-width: 400px) {
  .filtersContainer {
    button {
      padding: 0;
    }
  }
  select {
    font-size: calc(0.7em + 0.6vw);
  }
  .filtersContainer option {
    font-size: $nav;
  }
  .calendarButton,
  .levelButton,
  .localisationButton {
    padding: 0.5vh 0;
  }
}
