.spotsContainer {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 3vh;
  background: linear-gradient(to top right, #b9e1df, white);
}

.imgSpot {
  display: flex;
  width: 100%;
  height: 50vh;
  margin: 40px;
  background-image: url("./src/assets/img/plage.jpeg");
  background-size: cover;
  border-style: none;
}

.infoSpot {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.titleSpot {
  background-color: antiquewhite;
  padding: 10px;
  margin: 40px 40px 10px 0;
}

.descriptionSpot,
.others {
  background-color: antiquewhite;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.descriptionSpot.visible,
.others.visible {
  white-space: normal;
  text-overflow: clip;
}

.descriptionSpot.hidden,
.others.hidden {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.toggleButton {
  cursor: pointer;
}
