.footerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("./src/assets/img/footer.png");
  background-size: cover;
  opacity: 0.9;
  color: white;
  padding: 20px;
}

.socialNetwork {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.socialNetwork li {
  margin-left: 20px;
}

.socialNetwork li a {
  text-decoration: none;
  line-height: 20px;
  text-align: center;
  color: black;
}

.socialNetwork li a:after {
  content: "";
  display: block;
  margin: auto;
  height: 1.5px;
  width: 0;
  background: transparent;
  transition:
    width 0.5s ease,
    background-color 0.5s ease;
}

.socialNetwork li a:hover:after {
  width: 100%;
  background: black;
}
