@import "src/styles/_variables.scss";
@import "src/styles/_mixins.scss";

.infos {
  background-color: #205464;
  padding: 30px;
}
.condition {
  margin: 5vh 2vw;
  h1 {
    font-size: $fs-h1;
    margin: 1vh auto;
    text-align: center;
  }
  h2 {
    text-align: center;
    font-size: $fs-h2;
    margin: 2vh auto 4vh;
  }
  p {
    font-size: $fs-h3;
  }
}

h2 {
  margin: 2vh auto;
}

h3 {
  margin: 3vh auto;
}

h4 {
  margin: 2vh auto;
}

.definition,
.consignes,
.danger,
.previsions {
  margin: 5vh 2vw;
  padding: 2vh 2vw;
  box-shadow:
    0 20px 20px rgba(14, 21, 47, 0.4),
    0 16px 40px rgba(14, 21, 47, 0.4);
}

.previsions {
  display: flex;
  padding-right: 1vw;

  .imgSurfeur {
    width: 30%;
    height: auto;
    padding-left: 1vw;
  }
}

.tableausurf {
  width: 90%;
  height: auto;
  margin: auto 2vw;
}

.titleDanger {
  display: flex;
  margin: 2vh 2vw;
  align-items: center;
  #dangerous {
    margin: 1vh 2vw;
    justify-content: flex-start;
    color: $danger;
  }
}

@media screen and (max-width: 1250px) {
  .previsions {
    display: block;
    padding-right: 1vw;

    .imgSurfeur {
      display: none;
    }
  }
}
