@import "src/styles/_variables.scss";
@import "src/styles/_mixins.scss";

.burger-menu {
  margin: 10px;
  position: relative;

  .burger-button {
    background-color: $nav;
    border: none;
    cursor: pointer;

    .burger-icon {
      width: 50px;
      height: 50px;
      background-image: url (".");
    }
  }

  &.open {
    .burger-icon {
      transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-items {
      display: block;
    }
  }

  &.closed {
    .burger-icon {
      transform: none;
    }

    .menu-items {
      display: none;
    }
  }

  .menu-items {
    display: block;

    a {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: $btn_filter;
    }
  }

  @media (min-width: 768px) {
    .burger-button {
      display: none;
    }

    .menu-items {
      display: block;
    }

    &.open {
      .menu-items {
        display: block;
      }
    }
  }
}
